@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Khula:wght@300;400;600;700;800&display=swap");

/*General*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6e3c5;
  font-family: "Cormorant Garamond", serif;
  font-family: "Khula", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

/*Navigation - This will be the final code for the navbar*/
nav {
  margin-bottom: 10px;
}

.navbar {
  background-color: #d9cabd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  /* border-radius: 10px; */
  font-size: larger;
  letter-spacing: 0.05rem;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.navbar a:hover {
  color: #000;
  cursor: pointer;
}

.btn {
  color: #241c15;
  background-color: #cba382;
  display: inline-block;
  outline: none;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  padding: 0 18px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
} /*Also styles other button on page*/

.btn:focus {
  transition: scale(0.98); /*This only works once*/
}

.hamburger {
  display: none;
  cursor: pointer;
  float: right; /*Surely there is a better way to do this*/
  margin: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

/*Text and Photo*/
.section-1 {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 10%;
  margin-top: 5%;
  color: #3c2317;
}

.hello {
  line-height: 64px;
  letter-spacing: 0.1;
}

.btn:hover {
  color: #241c15;
  background-color: #c3600a;
  cursor: pointer;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.text-left,
.text-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 15rem;
}

.text-left h4,
.text-right h4 {
  font-weight: 800;
  font-size: 4rem;
  opacity: 75%;
  color: #aa8b56;
  margin-bottom: 2px;
}

.text-left h5,
.text-right h5 {
  font-weight: 400;
  font-size: 2rem;
  opacity: 75%;
  color: #aa8b56;
  margin-top: 0;
  margin-bottom: 2px;
}

.text-left p,
.text-right p {
  margin-top: 4px;
  color: #cfb997;
  font-size: 20px;
}

.right {
  margin-left: 100px;
}

.pug-photo {
  border-radius: 25%;
  height: 40rem;
  width: 40rem;
}

/*Footer*/
.footer {
  text-align: center;
  margin-top: 100px;
}

.contact {
  margin-top: 10px;
  text-decoration: none;
}

.contact li {
  display: inline;
}

.icons {
  height: 48px;
  width: 48px;
  padding: 5px;
}

.footer-link {
  text-decoration: none;
}

.item_link {
  text-decoration: underline;
  color: black;
}

.item_link:hover {
  font-weight: 600;
}

@media only screen and (max-width: 667px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .text-left {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .right img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .footer {
    margin-top: 0;
  }

  .contact {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  /*Navigation*/
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #d9cabd;
  }

  .navbar li {
    /*For the list items*/
    margin: 18px auto;
    font-size: larger;
  }

  .navbar.active {
    left: 0;
  }

  /*End of Navigation*/
}

@media only screen and (max-width: 1024px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .text-left {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .right img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .footer {
    margin-top: 0;
  }
}
