@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Khula:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcddb0;
  font-family: "Cormorant Garamond", serif;
  font-family: "Khula", sans-serif;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

/*Navigation*/
nav {
  margin-bottom: 0;
}

.navbar {
  background-color: #d9cabd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  /* border-radius: 10px; */
  font-size: larger;
  letter-spacing: 0.05rem;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.navbar a:hover {
  color: #000;
  cursor: pointer;
}

.btn {
  color: #241c15;
  background-color: #cba382;
  display: inline-block;
  outline: none;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  padding: 0 18px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
} /*Also styles other button on page*/

.btn:hover {
  color: #241c15;
  background-color: #c3600a;
  cursor: pointer;
}

.btn:focus {
  transition: scale(0.98); /*This only works once*/
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}
/*End of Navigation*/

/*Main Body*/

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fcddb0; */
  background-color: #f6e3c5;
  overflow: hidden;
}

.header {
  font-size: 64px;
  letter-spacing: 0.1;
  margin-top: 25px;
}

.question {
  letter-spacing: 0.1;
  line-height: 1.6;
  font-size: 24px;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
  margin-top: -100px;
}

.question h2 {
  font-size: 32px;
  margin: 10px;
}

.question p {
  padding-right: 20px;
  padding-left: 20px;
}

.question img {
  height: 45rem;
  width: 45rem;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  flex-basis: 40%;
}
/*End of Main Body*/

/*Footer & Icons*/

.footer2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact {
  margin-top: 10px;
}

.contact {
  text-decoration: none;
}

.contact li {
  display: inline;
}

.icons {
  height: 48px;
  width: 48px;
  padding: 5px;
}

.footer-link {
  text-decoration: none;
}

.item_link {
  text-decoration: underline;
  color: black;
}

.item_link:hover {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  /*Navigation*/
  .hamburger {
    display: block;
    position: fixed;
    right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #d9cabd;
  }

  .navbar li {
    /*For the list items*/
    margin: 18px auto;
    font-size: larger;
  }

  .navbar.active {
    left: 0;
  }

  /*End of Navigation*/

  .container {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    font-size: 32px;
    letter-spacing: 0.1;
    margin: 15px;
  }

  .question {
    letter-spacing: 0.1;
    line-height: 1;
    font-size: 18px;
  }

  .question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.3;
  }

  .question img {
    height: 35rem;
    width: 35rem;
    object-fit: contain;
    /* padding-left: 20px;
    padding-right: 20px; */
    max-width: 100%;
    flex-basis: 40%;
    margin: 15px auto;
  }

  .footer2 {
    line-height: 1.2;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1180px) {
  .header {
    font-size: 40px;
  }

  .question-box-text {
    font-size: 20px;
  }

  .footer2 {
    margin: auto 30px;
    font-size: 22px;
    line-height: 1.4;
  }
}
